{% extends 'base.html' %}
{% load static %}

{% block title %}Nos Soins - Relax & Restore Massage{% endblock %}

{% block content %}
<div class="bg-gray-50 py-24">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-16">
            <h1 class="text-4xl lg:text-5xl font-bold text-gray-800">Découvrez nos soins</h1>
            <p class="mt-6 max-w-3xl mx-auto text-lg text-gray-600">
                Une gamme de massages conçus pour répondre à vos attentes et vous procurer une détente optimale.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
            {% for service in services %}
            <div class="bg-white rounded-xl shadow-lg overflow-hidden transform hover:-translate-y-2 transition-all duration-300 hover:shadow-2xl group flex flex-col">
                <div class="overflow-hidden">
                    <img class="w-full h-60 object-cover group-hover:scale-105 transition-transform duration-500" src="{{ service.image.url }}" alt="{{ service.name }}">
                </div>
                <div class="p-8 flex flex-col flex-grow">
                    <h2 class="text-2xl font-bold text-gray-800">{{ service.name }}</h2>
                    
                    <p class="mt-4 text-gray-600 flex-grow">{{ service.description|linebreaksbr }}</p>
                    
                    <div class="mt-6 flex justify-between items-center">
                        <span class="text-2xl font-bold text-green-700">{{ service.price }}</span>
                        <span class="text-gray-500 font-medium">{{ service.duration }}</span>
                    </div>
                    <div class="mt-8">
                        <a href="{% url 'reservation' service.id %}" class="block w-full text-center bg-green-700 text-white font-semibold py-3 px-6 rounded-lg hover:bg-green-800 transition-all duration-300 transform hover:scale-105">
                            Réserver ce soin
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
